<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="point">
    <h3>first_name</h3>
    <%= form.text_field :first_name %>
  </div>
  <div class="point">
    <h3>middle_name</h3>
    <%= form.text_field :middle_name %>
  </div>
  <div class="point">
    <h3>last_name</h3>
    <%= form.text_field :last_name %>
  </div>
  <div class="point">
    <h3>education_year</h3>
    <%= form.number_field :education_year %>
  </div>

  <div class="point">
    <h3>your program</h3>
    <%= form.select( :program_id, Program.all.collect{ |program| [program.name, program.id]}) %>
  </div>
  <div class="point">
    <h3>your minor</h3>
    <%= form.select( :minor_id, Minor.all.collect{ |minor| [minor.name, minor.id]}) %>
  </div>

  <h3>your wished minors</h3>
  <div class="field">
    <%= form.select :whished_minors_id, Minor.all.collect { |minor| [minor.name, minor.id] }, {}, { multiple: true } %>
  </div>

  <div class="point">
    <h3>open ad</h3>
    <%= form.check_box :published %>
  </div>

  <div class="but">
    <%= form.submit %>
  </div>
<% end %>
