<%= form_with(model: profile, local: true) do |form| %>

  <%= form.hidden_field :type, value: "registration" %>

  <div class="point">
    <h3>Курс</h3>
    <%= form.select( :education_year, [2,3])  %>
  </div>
  <div class="point">
    <h3>Кампус</h3>
    <%= form.select( :city_id, City.all.collect{ |program| [program.name, program.id]}) %>
  </div>
  <div class="point">
    <h3>Твой майнор</h3>
    <%= form.select( :minor_id, Minor.all.collect{ |minor| [minor.name, minor.id]}) %>
  </div>

  <div class="point">
    <h3>На какие майноры хочешь</h3>
    <%= form.select :whished_minors_id, Minor.all.collect { |minor| [minor.name, minor.id] }, {}, { multiple: true } %>
  </div>
  <div class="point">
    <h3>открыть объявления</h3>
    <%= form.check_box :published %>
  </div>


  <div class="but">
    <%= form.submit %>
  </div>
<% end %>
