
<br>
<!-- <h3>your Program</h3> -->
<%#= Program.find(@profile.program_id).name %>
<br>
<h3>your minor</h3>
<%= Minor.find(@profile.minor_id).name %>

<br>

<h3>your wished minors</h3>
<%# <%= @profile.exchange_minors.to_json %> %>
<%# <% @profile.exchange_minor.whished_minors.each do |whished_minor|%> %>
  <%# <%= Minor.find(whished_minor.minor_id).name %> %>
  <!-- <br> -->
<%# <% end %> %>
<br>
<br>
<% exchange = ExchangeMinor.where(profile_id: @profile.id).first %>
<% if exchange.published %>
  Ваше объявление опубликовано, вы можете получать предложения об обмене от других студентов
<% else %>
  Ваше объявление не опубликовано, вы не будете получать предложения об обмене от других студентов
<% end %>
<br>

<%= link_to('settings', edit_profile_path(current_user))  %> |
<%= link_to('log oUT', destroy_user_session_path, method: :delete) %>
