
<% if user_signed_in? %>
<% exchande_minors = []%>
<% ExchangeMinor.all.each do |exchange_minor|
   if exchange_minor.published

      profile = exchange_minor.profile
      minor = exchange_minor.minor
      exchande_minors.push({
        city: 'Москва',
        year:'2020',
        title: minor.name,
        url: exchange_minor_path(minor),
        address: 'ул. Старая Басманная д. 1/4, стр.2',
        credits: '24'
      })
   end
 end %>
<% puts exchande_minors %>
<div id="data" data-props = "<%=exchande_minors.to_json%>"></div>
  __________________________________________________
  <%= link_to "Filters", filters_path %>
  __________________________________________________

  <%= javascript_pack_tag 'main_screen' %>





  <%= render 'button', text: 'Войти', link: welcome_index_path %>

<% else %>
<%= javascript_pack_tag 'landing' %>

  <h4 class="text">Auth</h4>

  <%= form_for(@user, url: auth_welcome_index_path, id: 'authCodeForm') do |f| %>
    <div class="field">
      <%= f.label :email %>
      <br />
      <%= f.email_field :email, id: "emailField", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send code", id: 'sendCodeButton' %>
    </div>
  <% end %>

  <br><br><br><br>

  <%= form_for(@user, as: 'user', url: user_session_path, id: 'authForm') do |f| %>
    <%= f.hidden_field :email, id: "hiddenEmailField", autofocus: true, autocomplete: "email" %>

    <div class="field">
      <%= f.label :password %>
      <br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
<% end %>


<!-- <div id="button">Хочу этот майнор</div> -->
