<div style="display: flex; justify-content: space-between; width: 70%; margin: 0 auto
">
  <div>
    <%= link_to("Main", welcome_index_path) %>
  </div>
<div>
  <% if user_signed_in? %>
  <%# TODO: Fix this %>
  <%# <%= link_to("My requests", profile_exchange_requests_path(current_user.id)) %> %>
  <%= link_to("My profile", profile_path) %>

  <% else %>

  <%#= render 'button' %>
  <%= link_to('Sign Up', new_user_registration_path) %>
  <%# <%= Minor.find(whished_minor.id).name %> %>
  <% end %>

</div>

</div>
